@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

:root {
  --one-family: "Rubik", Arial, Helvetica, sans-serif;
  --second-family: "Raleway", Arial, Helvetica, sans-serif;
}
:root {
  --status-success: #08af00;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --basic-black: #000;
  --basic-dark: #444;
  --basic-white: #fff;
  --basic-light: #f0f0f0;
  --basic-gray: #dcdcdc;
  --basic-light-gray: #ebebeb;
  --special-yellow-dark: #ffc700;
  --special-yellow-light: #ffe17f;
  --special-purple: #af4fff;
  --special-brown: #64534a;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--one-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* В шапке поиск */
.search {
  position: relative;
  font-size: 16px;
  line-height: 20px;
}
.search-input,
.search-submit {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}
.search-submit {
  text-align: center;
}
.search-label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 17px;
  background-image: url("../images-decorative/svg-icons-1/search.svg");
  background-repeat: no-repeat;
}

/* Шапка навигация */
.navigation-list,
.navigation-catalog-group .navigation-catalog-link {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.navigation-user {
  font-family: var(--one-family);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: initial;
}
.navigation-link,
.navigation-catalog-link {
  color: inherit;
  text-decoration: none;
}
.navigation-catalog-list {
  font-family: var(--one-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.services-tabpanel.delivery,
.services-tabpanel.credit,
.services-tabpanel.guarantee {
  position: relative;
}
.services-tabpanel.delivery::after {
  content: "";
  position: absolute;
  right: 0;
  width: 136px;
  height: 165px;
  background-image: url("../images-decorative/png-step-3/delivery.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.services-tabpanel.credit::after {
  content: "";
  position: absolute;
  right: 0;
  width: 156px;
  height: 189px;
  background-image: url("../images-decorative/png-step-3/credit.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.services-tabpanel.guarantee::after {
  content: "";
  position: absolute;
  right: 0;
  width: 171px;
  height: 195px;
  background-image: url("../images-decorative/png-step-3/guarantee.png");
  background-repeat: no-repeat;
  background-position: right center;
}
